.DS_Store

# Ignore virtual environment files
**/venv/*

# Ignore cache files
**/__pycache__/*

# Ignore all files generated at runtime
**/generated/*

# Ignore test source files
/src/*

# Ignore credentials files
*.env
**/creds/*

# Ignore local scripts for now
/scripts/*

# Include specific scripts
!/scripts/model_roll_outcomes.py
!/scripts/simple_roll.py